@import "tailwindcss";

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}